
<VirtualHost *:80>
    ServerName {{ inventory_hostname }}

    DocumentRoot {{ prod_document_root }}

    <Directory {{ prod_document_root }} >
        Options FollowSymLinks

        Order deny,allow
        Allow from allow
    </Directory>

</VirtualHost>